.LinkDiv{

    margin-top: 25px;
    /* align-self: flex-start; */
    @media (min-width: 768px){
    /* align-self: center; */

    }
  

    button{
       font-size : 15px;
       text-transform: uppercase;
       padding: 20px 53px;
       background-color: #68E381;
       background-color: #000000;
       color: #fff;
       border: none;
       outline: none;
       border-radius: 30px;

       &:hover{
            cursor: pointer;
       }
    }
}

.link-button{
    font-size : 15px;
    text-transform: uppercase;
    padding: 10px 53px;
    width: 100%;
    background-color: #68E381;
    background-color: #000000;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 30px;

    &:hover{
         cursor: pointer;
    }

    @media (min-width: 768px){
        width: max-content;
        padding: 10px 53px;


    }
}

.fixed-wa{
  position: fixed;
  right: 0;
  bottom: 40px;
  // height: 50px;
  // width: 50px;
  background-color: #0d7d2b;
  // padding: 10px;
  border-radius: 50px;
  aspect-ratio: 1/1;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  img{
    width: 40px;
  }
}



// .NavbarDiv{
    // width: 100vw;
    // // padding: 0px;
    // position: fixed;
    // top: 0;
    // left: 0;
    // // display: flex;
    // // justify-content: center;
    // /* overflow-x: hidden; */
    // z-index: 6;
    // background-color: #F3F3F3;



    .nav-buttons{
        display: flex;
        flex-direction: column;
        width: 100%;

        *{
            width: 100%;
        }

        span{
            white-space: nowrap;
            border: 1px solid #000;
            font-size: 13px;
            padding: 6px 36px;
            border-radius: 5px;
        }

        .sign-up{
            background-color: #000;
            border: none;
            color: #fff;
        }

        .login{
            height: 64px;
            width: 161px;
            border-radius: 2px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #F01E27;
            color: #fff;
            border: none;
            outline: none;
        }
    }


    @media (min-width: 768px){
        // padding: 0px 0px 0px;

        .nav-buttons{
            width: unset;
            flex-direction: row;
            gap: 15px;
        }
    }

    .NavbarContainer{
        width: 100vw;
        // // padding: 0px;
        position: fixed;
        top: 0;
        left: 0;
        box-sizing: border-box;
        width: 100%;
        color: #000;
        // max-width: 1280px;
        margin-top: -10px;
        padding: 10px;
        margin-right: -5px;
    
        display: none;
    
        align-items: center;
        justify-content: space-between;
        // background-color: #F3F3F3;
        // background-color: #a62b2b;
        background-color: #fff;
        // border-left: 30px solid #fff;
        transform: translateX(-2px) translateY(10px);
        // border-radius: 12px;
        box-shadow: 0 3px 4px rgba(0, 0, 0, 0.073);
        border: 0.5px solid #5d5d5d47;
        overflow: hidden;


        .user-menu{
            position: relative;
            .user-tag{
                border-radius: 40px;
                padding: 2px;
                border: 1px solid #000;
                .user-icon{
                    color: #fff;
                    width: 25px;
                    height: 25px;
                    background-color: #000000;
                    border-radius: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 13px;
                }
            }

            .user-links{
                display: flex;
                flex-direction: column;
                align-items: flex-start;    
                justify-content: flex-start;
                background-color: #ffffff;
                // padding: 15px ;
                // gap: 6px;
                // border: 0.5px solid #c8c8c8;
                border-radius: 5px;
                position: absolute;
                top: 40px;
                right: 0;

                span{
                    color: #000000;
                    width: 100%;
                    background-color: transparent;
                    padding: 12px 25px;
                    border: 0.5px solid #c8c8c800;
                    transition: all .5s ease;
                    // height: 60px;
                    


                    &:hover{
                        cursor: pointer;
                        // background-color: #f4f4f4;
                        border: 0.5px solid #bbbbbb;



                    }
                    
                }
            }
        }

    
        .menuitems{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 25px;
    
            span{
                &:hover{
                    cursor: pointer;
                }
            }
        }
    
        .logo{
            // width: 30px;
            height: 55px;
        }
    
        @media (min-width: 768px){
            display: flex;
        }
    }

    .MobileContainer{
        width: 100%;
    
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #F3F3F3;

        padding: 18px;
        height: 80px;
    
        .logo{
            // width: 30px;
            height: 30px;
            z-index: 5;
    
        }
    
        .hambuga {
            padding: 10px;
            padding-right: 0;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: all .4s ease;
            z-index: 5;
    
            .ham {
                width: 25px;
                height: 2px;
                background-color: #100024;
                border-radius: 5px;
                margin: 2px 0;
                transition: all .5s ease;
                display: block;
                z-index: 3;
    
                @media screen and (min-width: 768px) {
                    display: none;
                }
    
            }
        }
    
        .mob-menu-div {
        display: block;
        width: 100%;
        background-color: #F3F3F3;

        position: fixed;
        transform: translateX(-2000px);
        // top: -100px;
        transition: all .5s ease;
        z-index: 4;
        right: 0;
        top: 80px;
    
        .mob-menu-div-cont {
            box-sizing: border-box;
    
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 100%;
            // gap: 22px;
    
            padding: 36px 21px;
    
            a {
                color: #000;
                font-family: 'Montserrat', sans-serif;
                font-weight: 500;
                margin-bottom: 22px;
            }
    
        }
    
        @media screen and (min-width: 768px) {
            display: none;
            
        }
    }
    
        .spin {
            transform: rotate(90deg);
        }
        .spin .dis{
            // display: none;
            opacity: 0;
        }
    
        .spin .spins{
            transform: rotate(45deg) translateY(4px);
        }
        .spin .spins-i{
            transform: rotate(-45deg) translateY(-4px);
        }
    
        .menu-show {
            transform: translateX(0px);
            // background-color: red;
        }
    
    
        @media (min-width: 768px){
            display: none;
        }
    }
// }

.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;
    // max-width: 1400px;
    padding: 0px 18px;
    // border: 1px solid;

    @media  (min-width: 768px) {
        padding: 0 100px;
    }

}

.book-now-btn {
    height: 64px;
    width: 161px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F01E27;
    color: #fff;
    border: none;
    outline: none;
  &:hover {
    background-color: #d62839;
  }
}

.hero{
    width: 100%;
    height: 70vh;
    background: url(/Motomi-bg-mb.webp);
    // background: url(/Motomi-bg-desk.png);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* backdrop-filter: 1000px 1000px 1000px #000; */

    box-shadow: inset 1000px 1000px 1000px rgba(0, 0, 0, 0.35);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        height: 100%;
        // max-width: 1400px;
        padding: 0px 18px;
        // border: 1px solid;
    }

    .auto-service-container {
        // background-color: #000;
        color: #fff;
        text-align: left;
        padding: 40px;
        width: 40%;
        // width: 400px;
        // margin: 0 auto;
        font-family: Arial, sans-serif;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      
        header {
            margin-bottom: 16px;

          h4 {
            font-size: 16px; // Small header text
            margin-bottom: 10px;
          }
      
          .underline {
            width: 100%;
            height: 2px;
            background-color: #e63946;
            // margin: 8px auto;
          }
        }
      
        h1 {
          font-size: 39px; // Main heading
        //   margin: 20px 0;
          font-weight: bold;
          line-height: 1.2;
          margin-bottom: 31px;
        //   width: 45%;
        }
      
        p {
          font-size: 16px; // Paragraph text
        //   margin: 20px 0;
        margin-bottom: 36px;

        }
      
        .book-now-btn {
            height: 64px;
            width: 161px;
            border-radius: 2px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #F01E27;
            color: #fff;
            border: none;
            outline: none;
          &:hover {
            background-color: #d62839;
          }
        }

        @media (max-width: 768px){
            width: 100%;
            padding: 20px;
            align-items: center;
            p, h1{
                text-align: center;
            }
        }
      }
      
      


    @media  (min-width: 768px) {
        height: 90vh;
        background: url(/motomi-bg-desk.webp);
        background-position: center center;

        
        
        .container{
            padding: 0 100px;
            // padding: 0px 34px;


        }
        
        h1{
            font-size: 60px;
        }

        p{
            font-size: 20px;
            margin-bottom: 45px;
            margin-top: 15px;


        }

        .cta{
            padding: 11px 32px;
            font-size: 18px;


        }
    }

}

.about {
    width: 100%;
    
    .container{
        width: 100%;
        // display: flex;
        // flex-direction: row;
        // justify-content: space-between;
        // align-items: center;
        // margin: 100px 0 100px;
        align-items: center;
        display: grid;
        grid-template-columns: 3fr 2fr;
        padding-top: 100px;
        background-color: #fff;
        color: #000;
        gap: 100px;
        // margin: 0 auto;


        .about-image{
            width: 100%;
            img{
                width: 100%;
            }
        }

        .about-content{
            width: 100%;
            // border: 1px solid;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            header {
                margin-bottom: 16px;
                width: max-content;
    
              h4 {
                font-size: 16px; // Small header text
                margin-bottom: 10px;
              }
          
              .underline {
                width: 100%;
                height: 2px;
                background-color: #e63946;
                // margin: 8px auto;
              }
            }

            h2 {
                font-size: 39px; // Main heading
              //   margin: 20px 0;
                font-weight: bold;
                line-height: 1.2;
                margin-bottom: 31px;
              //   width: 45%;
            }

            p {
            font-size: 16px; // Paragraph text
            //   margin: 20px 0;
            margin-bottom: 36px;
            // margin-top: 50px;
            width: 80%;
    
            }

            .services-list{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                // margin-top: 50px;


                span{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 10px;
                    padding: 10px;

                    p {
                        font-size: 16px; // Paragraph text
                        margin: 0;
                    //   margin-bottom: 36px;
                    
                        width: 100%;
                    }

                    img{
                        margin: 0;
                        padding: 0;

                    }
                }
            }
            .book-now-btn {
                height: 64px;
                width: 161px;
                border-radius: 2px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #F01E27;
                color: #fff;
                border: none;
                outline: none;
                margin-top: 70px;
              &:hover {
                background-color: #d62839;
              }
            }
            
          
        }

        @media (max-width: 768px){
            grid-template-columns: 1fr;   

            .about-content{
                .book-now-btn{
                    margin-top: 16px;
                }
            }
        }
    }
}

.services {
    // padding: 40px;
    background-color: #fff;
    width: 100%;
    z-index: 2;
    margin-bottom: -140px;
    
    .container{
        display: flex;
        // justify-content: space-between;
        flex-direction: row;
        justify-content: center;
        // align-items: stretch;

        display: grid;
        grid-template-columns: 3fr 2fr 3fr;
        gap: 50px;
        width: 100%;
        // border: 1px solid;
        padding: 137px 0px 0;
        // border: 2px solid #000;
    }
  
    .service-card {
    //   flex: 1;
      background-color: #fff;
      padding: 48px;
    //   border-radius: 12px;
      box-shadow: 3px 3px 8px 3px rgba(0, 0, 0, 0.1);
      text-align: center;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      width: 350px;
      height: 100%;

      &:nth-of-type(1){
        margin-left: auto;
      }
      &:nth-of-type(2){
        margin: 0 auto;
      }
    //   &:nth-of-type(3){
    //     margin-right: auto;
    //   }
  
    //   &:hover {
    //     transform: translateY(-5px);
    //     box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    //   }
  
      .service-icon {
        width: 40px;
        height: 40px;
        margin-bottom: 12px;
      }
  
      h3 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 16px;
        color: #000;
      }
  
      p {
        font-size: 14px;
        line-height: 1.6;
        color: #333;
        // width: 60%;
      }
    }
  
    .highlighted {
      background-color: #e63946;
      color: #fff;
  
      h3, p {
        color: #fff;
      }
    }

    @media (max-width: 768px){
        .container{
            display: flex;

            flex-direction: column;
            padding: 100px 18px 0;       
        }

        .service-card{
            width: 100%;
            // margin-bottom: 32px;
        }
    }
}

.top-banner{
width: 100%;
background-color: #000;
z-index: 1;

    .container{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 227px;
        padding-bottom: 72px;

        h2{
            width: 60%;
            color: #fff;
            font-size: 39px;
        }

        @media (max-width: 768px){
            flex-direction: column;   
            align-items: center;
            h2{
                width: 100%;
                text-align: center;
                margin-bottom: 32px;
            }
        }

        // gap: ;
    }
}

.serve{
    background-color: #fff;
    width: 100%;
    margin-bottom: -190px;


    .container{
        display: flex;
        flex-direction: column;
        width: 100%;
        color: #000;
        padding-top: 68px;

        .header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        
        .intro{
            width: max-content;

        }
            margin-bottom: 16px;
            // width: max-content;
            // border: 1px solid;

            h4 {
            font-size: 16px; // Small header text
            margin-bottom: 10px;
            }
        
            .underline {
            width: 100%;
            height: 2px;
            background-color: #e63946;
            // margin: 8px auto;
            }
            h2 {
                font-size: 39px; // Main heading
            //   margin: 20px 0;
                font-weight: bold;
                line-height: 1.2;
                margin-bottom: 31px;
            //   width: 45%;
            }
        }
        
        .cards{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 30px;

            .card{
                width: 100%;
                background-color: #fff;
                display: flex;
                flex-direction: column;
                box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);

                img {
                    width: 100%;
                }

                .content{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 20px 36px;
                    *{
                        text-align: left;
                    }

                    h4{
                        font-size: 22px;
                        margin-bottom: 20px;
                        text-align: center;
                    }
                }
                
            }


            @media (max-width: 768px){
                grid-template-columns: 1fr;

                .card{
                    h4{
                        text-align: center;
                    }
                }
            }
            
        }
    }
}

.bg-grey{
    width: 100%;
    background-color: #F3F3F3;
    padding-top: 227px;
    p{
        opacity: 0;

    }
}

.partners{
    background-color: #fff;
    width: 100%;

    .container{
        padding-top: 100px;
        padding-bottom: 90px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #000;
        width: 100%;

        h2{
            font-size: 39px;
            font-weight: 900;
            text-align: center;
        }

        .cards{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 30px;
            row-gap: 50px;
            margin-top: 50px;

            .card{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                

                img {
                    height: 70px;
                }

                .content{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 20px 36px;
                    *{
                        text-align: left;
                    }

                    h4{
                        font-size: 22px;
                        margin-bottom: 20px;
                    }
                }
                
            }

            @media (max-width: 768px){
                grid-template-columns:  1fr 1fr;
            
            }
            
        }
    }
    
}


.bottom-banner{
    width: 100%;
    // height: 70vh;
    background: url(/banner-img.webp);
    // background: url(/Motomi-bg-desk.png);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* backdrop-filter: 1000px 1000px 1000px #000; */

    box-shadow: inset 1000px 1000px 1000px rgba(0, 0, 0, 0.66);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    // margin-bottom: 10px;
    .container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        height: 100%;
        // max-width: 1400px;
        padding: 0px 18px;
        // border: 1px solid;
    }

    .auto-service-container {
        // background-color: #000;
        color: #fff;
        text-align: center;
        padding: 40px;
        width: 70%;
        // width: 400px;
        margin: 0 auto;
        font-family: Arial, sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
      
      
        h2 {
          font-size: 39px; // Main heading
        //   margin: 20px 0;
          font-weight: bold;
          line-height: 1.2;
          margin-bottom: 31px;
        //   width: 45%;
        }
      
        p {
          font-size: 16px; // Paragraph text
        //   margin: 20px 0;
            margin-bottom: 0px;
            line-height: 1.4;

            &:nth-of-type(2){
                margin-bottom: 30px;
            }

        }
      
        .book-now-btn {
            height: 64px;
            width: 161px;
            border-radius: 2px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #F01E27;
            color: #fff;
            border: none;
            outline: none;
          &:hover {
            background-color: #d62839;
          }
        }

        @media (max-width: 768px){
            width: 100%;
            padding: 0;
            // border: 1px solid;
        }
      }

    @media  (min-width: 768px) {
        height: 70vh;
        // background: url(/Motomi-bg-desk.png);
        background: url(/banner-img.webp);

        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

        
        
        .container{
            padding: 0 100px;
            // padding: 0px 34px;


        }
        
        h1{
            font-size: 60px;
        }

        p{
            font-size: 20px;
            margin-bottom: 45px;
            margin-top: 15px;


        }

        .cta{
            padding: 11px 32px;
            font-size: 18px;


        }
    }

}



.footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    width: 100%; // Full width of the footer
    // margin-top: 10px;
    border-top: 7px solid #ffffff;
  
    .container {
    //   margin: 0 auto;
      width: 100%; // Ensures the container also spans 100%
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }
    h4{
        font-weight: 900;
        font-size: 20px;
    }
  
    .top-row,
    .bottom-row {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      padding: 10px 0;
      margin-bottom: 20px;
    //   border: 2px solid;
  
      // Adjust padding/margin for better spacing across devices
    }

    .top-row{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: stretch;
    }
  
    .logo-section {
      flex: 1;
      display: flex;
      justify-content: flex-start;
      align-items: center;
  
      img {
        max-width: 100px;
      }
    }
  
    .nav-section,
    .hours-section,
    .contact-section {
      flex: 1;
      text-align: left;
  
      ul {
        list-style: none;
        padding: 0;
  
        li {
          margin-bottom: 5px;
        }
  
        a {
          color: #fff;
          text-decoration: none;
        }
      }
  
      h4 {
        margin-bottom: 10px;
      }
  
      p {
        margin: 5px 0;
      }
    }

    .hours-section{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        h4{
            font-weight: 900;
            font-size: 20px;
        }

        .cont{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            ul{
                margin-top: 30px;
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            // align-self: stretch;
            // justify-items: stretch;
        }
    }

    .contact-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .cont{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
        }
    }
  
    .social-section {
      flex: 1;
      display: flex;
      justify-content: flex-end;
  
      a {
        color: #fff;
        margin: 0 10px;
        font-size: 1.5rem;
        text-decoration: none;
  
        &:hover {
          color: #f00; // Adjust color on hover if needed
        }
      }
    }

    .nav-section{
        height: 100%;
        justify-content: space-between;

        ul{
            // margin-top: 30px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
  
    .copyright {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.9rem;
    }

    @media  (max-width: 768px) {
        .copyright{
            display: none;
        }

        .top-row{
            grid-template-columns: 1fr;
        }

        .nav-section,
        .hours-section,
        .contact-section {
          align-items: flex-start;
      
          ul {
            list-style: none;
            padding: 0;
      
            li {
              margin-bottom: 5px;
            }
      
            a {
              color: #fff;
              text-decoration: none;
            }
          }
      
          h4 {
            margin-bottom: 10px;
          }
      
          p {
            margin: 5px 0;
          }
        }

        .hours-section{
            margin: 30px 0 50px;
            .cont{
                ul{
                    margin-top: 10px;
                }
            }
        }
    }

    
  }

  .about-page{
    background-color: #fff;
    color: #000;
    width: 100%;
    padding: 150px 0 100px;

    .container{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;

        .content-wrap{
          width: 100%;
        }
        .img{
          width: 100%;
          height: 100%;
          border-radius: 20px;
          background: url(/contact-banner.webp);
          // background: url(/Motomi-bg-desk.png);
      
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
        }
        .cont{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
            border: 1px solid;
            border-radius: 28px;
            padding: 50px 40px;
        }

        .wa-banner{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            margin-top: 58px;
            padding: 15px;

            .head{
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                margin-bottom: 24px;

                h3{
                    font-size: 20px;
                    color: #16A34A;
                    line-height: 1.2;
                    font-weight: 900;
                }

                img{
                    width: 46px;
                    margin-right: 15px;
                }
            }

            .body{
                display: flex;
                align-items: flex-end;
                justify-content: flex-start;

                img{
                    width: 170px;
                }

                .text{
                    // border: 1px solid;
                    flex: 1;
                    height: 100%;

                    p{
                        margin-bottom: 25px;
                    }
                }
            }
        }

        @media(max-width: 768px){
          grid: 1fr;
        }
    }
  }
  

  .about-company {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    width: 100%;

  
    .top-section {
      width: 100%;
      display: grid;
      grid-template-columns: 2fr 5fr;
    //   height: 60vh;


      .main-text{
        width: 100%;
        padding: auto 0;
        // background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
        h1{
          font-size: 39px;
        }
      }

      img{
        width: 100%;
      }
  
      .banner-image {
        width: 100%;
        // max-height: 400px;

        object-fit: cover;
      }

      @media (max-width: 768px){
        display: flex;
        flex-direction: column-reverse;

        .main-text{
          padding-top: 50px;
          h1{
            font-size: 25px;
            text-align: center;
          }
        }
      }
    }
  
    .content {
      width: 100%;
      margin-top: 2rem;
  
      section {
        margin-bottom: 3rem;
        width: 100%;

        // background-color: #f9f9f9; 
        
        .container {
        //   padding-left: 20px;
        //   padding-right: 20px;
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
        }
  
        h2, h3 {
          text-align: center;
          color: #333;
        }

        h3{
            font-size: 20px;
            margin: 25px 0 17px;
        }

        h2{
            font-size: 39px;
            color: #DC2626;
            text-transform: uppercase;
        }
  
        p {
          text-align: center;
          line-height: 1.6;

        }
      }

      .opener{
        padding: 48px 0;
      }
  
      .goal {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 48px 0;
        background-color: #fff;

  
        h4 {
          margin: 1rem 0;
          font-size: 1.2rem;
          color: #c00;
        }

        p{
            color: #000;
        }
      }
  
      .motomi-advantage {
        background-color: #000;
        color: #fff;
        padding: 40px 20px;
        text-align: left;
      
        h2 {
          text-align: center;
          color: #c00;
          margin-bottom: 2rem;
        }
      
        .container {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 1.5rem;
      
          .advantage-item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
      
            p {
              font-size: 1rem;
              line-height: 1.5;
              color: #fff;
              margin: 0;
              text-align: left;
      
              b {
                color: #fff;
                font-weight: bold;
                margin-right: 0.5rem; /* Adds some space after the bold text */
              }
            }
          }
        }
      }
      
  
      .locations {
        background-color: #fff;
        padding: 100px 0;
        color: #000;
        margin-bottom: 0;
        .location-list {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-top: 15px;
  
          .location-item {
            display: grid;
            justify-content: space-between;
            width: 100%;
            margin: 0.5rem 0;
            grid-template-columns: 1fr 4fr 1fr;
            align-items: center;

            img{
                height: 45px;
                margin-left: auto;
            }
  
            p {
              font-weight: bold;
              text-align: left;
            }
  
            span {
              color: #c00;
              font-weight: bold;
              margin-left: 14px;
            }
          }
        }
      }
    }
  }
  
  

  
  